<channel>
        <title><%= $blog_title %></title>
        <link><%= $blog_url %></link>
        <description><%= $subtitle %></description>
        <pubDate><%= blog_pub_date %></pubDate>
        <language>ja</language>
        <wp:wxr_version>1.2</wp:wxr_version>
        <wp:base_site_url><%= $blog_url %></wp:base_site_url>
        <wp:base_blog_url><%= $blog_url %></wp:base_blog_url>

        <wp:author>
        <wp:author_id>1</wp:author_id>
        <wp:author_login><![CDATA[admin]]></wp:author_login>
        <wp:author_email><![CDATA[<%= $admin_email %>]]></wp:author_email>
        <wp:author_display_name><![CDATA[admin]]></wp:author_display_name>
        <wp:author_first_name><![CDATA[]]></wp:author_first_name>
        <wp:author_last_name><![CDATA[]]></wp:author_last_name></wp:author>

